.card {
  background-color: #FFF;
  padding: 5px;
  margin: 5px;
  transition: 0.3s;
  border: none;
  font-family: 'Teko';
  font-size: 1.4rem;
}

.card:hover, .foto {
  opacity: 0.8;
  transition: 0.3s; 
}

.desc {
  font-family: 'TekoLight' !important;
  font-size: 1.4rem;
  font-weight: 60;
  height: 8vh;
}

.preco {
  font-size: 2.0rem;
  color: black;
  transition: 0.2s;
  padding: 3%;
}

.preco:hover {
  font-size: 2.0rem;
  color: red;
  transition: 0.2s;
}

.centavos {
  font-size: 1.6rem !important;
}

.numOfPages {
  margin-bottom: 2vh;
}

h1 {
  color: #fff;
}

.item-display {
  height: 100%;
  padding: 3%;
}

.apontador {
  cursor: pointer;
}

.modalOpenedItem {
  padding: 3%;
}

.botao-classes {
  filter: invert(0%);
  transition: 0.2s;
  background-color: #FFF;
  color: #000;
  border: none;
}

.botao-classes:hover {
  filter: invert(25%);
  transition: 0.2s;
  background-color: #FFF;
  color: #000;
}

.photo-container {
  width: 100%;
  padding-top: 3%;
}

.MuiInputBase-input {
  min-width: 20vw !important;
}

.preco {
  font-family: 'Teko';
}