@font-face {
  font-family: 'FallingSkyBlkObl';
  src: url(../../public/fonts/FallingSkyBlkObl.otf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.logo {
  font-family: 'FallingSkyBlkObl' !important;
}

.navbar{
  background-color: #474a51 !important;
}