.logo, Nav, .nav-link {
  font-family: 'Teko' !important;
  font-size: 1.4rem;
  color: white !important;
}

.nav-link:hover, .botao:hover {
  color: rgb(255,255,255,0.6) !important;
}


.navbar{
  background-color: black !important;
}

.botao {
  background-color: rgb(0,0,0,0) !important;
  border-style: none !important;
  font-size: 1.4rem;
}

#logoNT{
  height: 8vh;
}

#popover-basic {
  z-index: 50;
}