.footer-container {
  font-family: 'TekoLight';
  background-color: black;
  color: white;
  font-size: 1.5rem;
}

.title {
  font-family: 'Teko' !important;
}

li{
  list-style-type: circle;
  transition: 0.4s;
}

li:hover {
  list-style-type: circle;
  color: red;
  transition: 0.4s;
}

#link-report:hover{
  color: red;
  cursor: pointer;
  margin-bottom: 20px;
}