.namePrice-container{
  display: flex;
  flex-direction: column;
  align-items: center ;
  height: 100%;
  align-content: space-between;
}

.priceQtd-container{
  display: flex;
  flex-direction: row;
  height: 50%;
  font-size: 135%;
}

.name-container{
  display: flex;
  height: 50%;
}

.cartTitle{
  margin-bottom: 6vh;
}

.addButton{
  margin: 5px;
  transition: 0.4s;
}
.addButton:hover{
  color: green;
  cursor: pointer;
  transition: 0.4s;
}

.removeButton{
  margin: 5px;
  transition: 0.4s;
}

.removeButton:hover{
  color: red;
  cursor: pointer;
  transition: 0.4s;
}

.message{
  width: 100%;
}

@media screen and (min-width: 992px) {
  
  .modal-content-cart{
    max-width: 60vw !important;
    margin-left: 20vw !important;
  }

  .modal-content-cart::-webkit-scrollbar {
    display: none !important;
}
}