.outline-none{
  outline: none !important;
}

a, a:hover {
  text-decoration: none !important;
}

.header {
  border-bottom: 2px solid rgb(229, 229, 229);
}

.message {
  font-family: 'FallingSkyBlkObl' !important;
}

@media screen and (max-width: 767px) {
  .message {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .message {
    font-size: 50% !important;
    display: inline;
  }
}

@media screen and (min-width: 993px) {
  .message {
    font-size: 100% !important;
    display: inline;
  }
}

.carousel-dif{
  overflow-x: hidden !important;
}

@media screen and (max-width: 767px) {
  .carousel-dif {
    max-width: 100vw !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px){
  .carousel-dif {
    max-width: 100vw !important;
  }
}

@media screen and (min-width: 992px) {
  .carousel-dif {
    max-width: 100vw !important;
  }
}

.banner-text{
  color: white;
  margin-top: 15vh;
}

.banner-text > h1{
  font-size: 350%;
  margin: 5vh;
}